h1{ width: 100%;
    background-color: orange;
    border: 1PX solid COLOR=black; 
border-radius: 10px;
text-align: center;
padding: 10px;
opacity: 0.5;
}
.CIRCLE{width: 150PX;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    opacity: 0.5;
    transition: 0.5s;
    box-shadow: 2px 3px 5px red;
}
.CIRCLE:hover{ opacity: 1; }
#RED{background-color: red;
}
#YELLOW{
    background-color: yellow;
}
#GREEN{background-color: green;}

